---
---
    
@import "custom/variables";
@import "bootstrap";
@import "custom/base";

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

figure {
    max-width: 100%;
    height:auto;
    margin-bottom: $line-height-computed;
}

figure.aligncenter img, img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

figcaption {
    font-style: italic;
    text-align: right;
    margin-bottom: 6px; 
    color: $text-muted;
}

audio {
    width: 100%;
}

.footer {
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus {
    color: #fff;
    background-color: $brand-primary;
}

.jumbotron {
background-image: url($site-baseurl + "/images/vfsp-978-624.jpg");
background-size: cover;
min-height: 400px;
position: relative;
}

.jumbotron h1 {
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(255, 255, 255);
    /* RGBa with 0.6 opacity */
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom:0;
}

.jumbotron h1 a,
.jumbotron h1 a:link,
.jumbotron h1 a:visited,
{
    text-decoration: none;
    color: black;
}
.jumbotron h1 a:hover
{
    color: $brand-primary;
}



.page-header h1 {
    margin: 0;
}

/* div.fluid-width-video-wrapper {margin-bottom: $line-height-computed;} */
