---
---
    
@import "custom/variables";
@import "bootstrap";
@import "custom/base";
@import "custom/comment-styles";

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

figure {
    max-width: 100%;
    height:auto;
}

figure.aligncenter img, img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

figcaption {
    font-style: italic;
    text-align: right;
    margin-bottom: 6px; 
    color: $text-muted;
}

audio {
    width: 100%;
}

.footer,.pager {
	margin-top: 2rem;
    background-color: $gray-200;
    background-color: rgba(0, 117, 119, 0.2);
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus {
    color: #fff;
    background-color: $brand-primary;
}

/* Style site header - here */
.jumbotron {
background-image: url($site-baseurl + "/images/vfsp-978-624.jpg");
background-size: cover;
min-height: 400px;
position: relative;
}

.jumbotron h1, .jumbotron p {
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 117, 119);
    /* RGBa with 0.2 opacity */
    background-color: rgba(0, 117, 119, 0.2);
}

.jumbotron h1 a,
.jumbotron h1 a:link,
.jumbotron h1 a:visited,
{
    text-decoration: none;
    color: black;
}
.jumbotron h1 a:hover
{
    color: $brand-primary;
}



.page-header h1 {
    margin: 0;
}

/* div.fluid-width-video-wrapper {margin-bottom: $line-height-computed;} */
