---
layout: page
title: Categories
---

{% comment %}
=======================
The following part extracts all the categories from your posts and sort categories, so that you do not need to manually collect your categories to a place.
=======================
{% endcomment %}
{% assign rawcategories = "" %}
{% for post in site.posts %}
  {% assign tcategories = post.categories | join:'|' | append:'|' %}
  {% assign rawcategories = rawcategories | append:tcategories %}
{% endfor %}
{% assign rawcategories = rawcategories | split:'|' | sort %}

{% comment %}
=======================
The following part removes dulpicated categories and invalid categories like blank category.
=======================
{% endcomment %}
{% assign categories = "" %}
{% for category in rawcategories %}
  {% if category != "" %}
    {% if categories == "" %}
      {% assign categories = category | split:'|' %}
    {% endif %}
    {% unless categories contains category %}
      {% assign categories = categories | join:'|' | append:'|' | append:category | split:'|' %}
    {% endunless %}
  {% endif %}
{% endfor %}

{% comment %}
=======================
The purpose of this snippet is to list all the categories you have in your site.
=======================
{% endcomment %}

<div class="home">
<h1>{{ page.title }}</h1>

  {% assign sortedcategories = categories | sort %}

  {% for category in sortedcategories %}
    <h2 id="{{ category | slugify }}">{{ category }}</h2>
    <ul>
    {% for post in site.categories[category] %}
      <li><a href="{{ post.url | prepend: site.baseurl }}" class="post-link">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
  {% endfor %}

</div>
