<div id="{{ comment_id }}" class="card" uid="{{ include.uid }}">
<div class="card-body">
  <div class="card-title">
    {% if include.name == site.author.name %} 
    <span class="badge">Author</span>
    {% endif %}
    {{- include.name | strip_html }}
  </div>	
  <div class="card-subtitle mb-2 text-muted">
      {%- if include.date -%}
        <a href="#{{ comment_id}}" title="Permalink to this comment">
        {{- include.date | date:"%B %eth, %Y %H:%M" -}}
        </a>
      {%- endif -%}
  </div>

  <div class="card-text">
    {{ include.message | strip_html | markdownify }}
  </div>
</div>
</div>

