<form class="js-form form"  method="post" action="{{ site.staticman_url }}">
  <input type="hidden" name="options[origin]" value="{{ page.url | absolute_url }}">
  <input type="hidden" name="options[parent]" value="{{ page.url | absolute_url }}">
  <input type="hidden" id="comment-replying-to-uid" name="fields[replying_to_uid]" value="">
  <input type="hidden" name="options[slug]" value="{{ page.slug }}">
  {% if site.reCaptcha.enabled %}
  <input type="hidden" name="options[reCaptcha][siteKey]" value="{{ site.reCaptcha.siteKey }}">
  <input type="hidden" name="options[reCaptcha][secret]"  value="{{ site.reCaptcha.secret }}">
  {% endif %}



  <div class="form-group">
    <h4><label for="comment-form-message">Add Comment</label></h4>
      <textarea class="form-control" name="fields[message]" type="text" id="comment-form-message" placeholder="Your comment (markdown accepted)" required rows="6"></textarea>
  </div>
  <div class="form-group">
     <label for="comment-form-name">Name</label>
     <input class="form-control" name="fields[name]" type="text" id="comment-form-name" placeholder="Your name (required)" required/>
  </div>
  <div class="form-group">
    <label for="comment-form-email">E-mail</label>
    <input class="form-control" name="fields[email]" type="email" id="comment-form-email" placeholder="Your email (optional)"/>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>



    <div class="textfield narrowfield hp">
      <label for="hp">
        <input class="textfield__input" name="fields[hp]" id="hp" type="text" placeholder="Leave blank">
      </label>
    </div>

    {% if site.reCaptcha.enabled %}
    <div id="reCaptcha" class="g-recaptcha" data-sitekey="{{ site.reCaptcha.siteKey }}"></div>
    {% endif %}
  <button class="button btn btn-primary" id="comment-form-submit">Submit</button>

</form>

<article class="modal mdl-card mdl-shadow--2dp">
  <div>
    <h3 class="modal-title js-modal-title"></h3>
  </div>
  <div class="mdl-card__supporting-text js-modal-text"></div>
  <div class="mdl-card__actions mdl-card--border">
    <button class="button mdl-button--colored mdl-js-button mdl-js-ripple-effect js-close-modal">Close</button>
  </div>
</article>


{% comment %}
	from: https://github.com/eduardoboucas/popcorn/blob/gh-pages/_includes/modal.html
{% endcomment %}

