<div class="card">
  <div class="card-header text-white bg-primary">
    <h3>Hazel</h3>
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="http://twitter.com/moley75/">Twitter / @moley75</a></li>
      <li class="list-group-item"><a href="http://instagram.com/moley75/">Instagram / @moley75</a></li>
      <li class="list-group-item"><a href="http://moley75.co.uk/">Let's Fold Scarves</a></li>
      <li class="list-group-item"><a href="http://moley75.tumbler.com">Tumblr</a></li>
    </ul>
  </div>
</div>

<div class="card">
  <div class="card-header text-white bg-primary">
    <h3>Andy</h3>
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="https://twitter.com/grange85/">Twitter / @grange85</a></li>
      <li class="list-group-item"><a href="https://instagram.com/grange85/">Instagram / @grange85</a></li>
      <li class="list-group-item"><a href="https://www.grange85.co.uk/swirling/">Everything's Swirling</a></li>
      <li class="list-group-item"><a href="https://www.fullofwishes.co.uk">A Head Full of Wishes</a></li>
    </ul>
  </div>
</div>

<div class="card">
  <div class="card-header text-white bg-primary">
    <h3>Categories</h3>
  </div>
  <div class="card-body">
    <ul class="list-group">
      {% assign allcategories = site.categories | sort %}
      {% for category in allcategories %}
        <li class="list-group-item"><a href="{{ category | first | slugify | prepend: '/category/' | prepend: site.baseurl }}">{{ category | first }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="card">
  <div class="card-header text-white bg-primary">
    <h3>Archives</h3>
  </div>
  <div class="card-body">
    <select class="form-control" id="archives-dropdown" name="archive-dropdown" onchange="document.location.href=this.options[this.selectedIndex].value;">
      <option value="">Select Month</option>
      {% for archive in site.archives %}{% if archive.type == "month" %}{% capture newarchive %}{{newarchive}}|{{archive.url}}{% endcapture %}{% endif %}{% endfor %}
      {% capture newarchive %}{{newarchive | remove_first: '|'}}{% endcapture %}
      {% assign myarchives = newarchive | split: '|' | sort %}
      {% for archive in myarchives %}
        <option value="{{ archive | prepend: site.baseurl }}"> {{ archive | remove_first: '/' | replace: '/','-' | append: '01'  | date: '%B %Y' }} </option>
      {% endfor %}
    </select>
  </div>
</div>


<div class="card">
  <div class="card-header text-white bg-primary">
    <h3>Contact and subscribe</h3>
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="{{site.baseurl}}/feed.xml">RSS</a></li>
      <li class="list-group-item"><a href="{{site.baseurl}}/contact/">Contact</a></li>
    </ul>
  </div>
