---
layout: default
---
					<div class="row">
						<div class="col-md-12">
							        <p class="byline">Posted by 
							        	{% if page.author.display_name != 'Andy' %}<a href="/authors/">{{page.author.display_name}}</a>
							        	{% else %}{{page.author.display_name}}
							        	{% endif %}
							        	 on {{ page.date | date: "%-d %B %Y" }}</p>
							        {% if page.categories %}<p class="pull-left">in categories:&nbsp; </p>
							        <ul class="categories list-inline">
								        {% for category in page.categories %}
								        <li class="list-inline-item"><a class="badge badge-primary" href="{{ site.baseurl }}/category/{{ category | slugify }}">{{ category }}</a></li>
								        {% endfor %}
							        </ul>
							        {% endif %}
									<article class="post-content">
										{{ content }}
									</article>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<ul class="pager">
								{% if page.next.url and page.next.draft != true %}
								<li class="previous"><a href="{{page.next.url | prepend: site.baseurl }}">&laquo; {{page.next.title}}</a></li>
								{% endif %}
								{% if page.previous.url %}
								<li class="next"><a class="prev" href="{{page.previous.url | prepend: site.baseurl }}">{{page.previous.title}} &raquo;</a></li>
								{% endif %}
							</ul>
						</div>
					</div>
					{% if page.comments_id %}
                        {% include comments.html issue_id=page.comments_id %}
                    {% endif %}
